.sidebar-title{

    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}
.sidebar-items{
    margin-top: 20px;
}
.side-label-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}
.side-label-container input{
    pos
}