.ocassions-container{
    padding: 5rem 6rem ;

}
.headers{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}
.ocassions-mainHeader{
    font-size: 2.2rem;
   margin-top: 10px;
}
.ocassions-mainHeader span{
    color: var(b);
}