.ocassions-container {
  padding: 5rem 6rem;
}
.headers {
  margin: 0 auto;
  max-width: 450px;
  text-align: center;
}
.headers .subheader {
  font-size: 1.5rem;
}
.ocassions-mainHeader {
  font-size: 3rem;
  margin-top: 10px;
}
.ocassions-mainHeader span {
  color: var(--primary-color);
}
.ocassions-types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.icon-container {
  width: 120px;
  height: 120px;
  background-color: #f6f6f6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container svg {
  stroke-width: 5;
  font-size: 3.4rem;
  color: var(--primary-color);
}
.ocasssion-name {
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .ocassions-types {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
   align-items: center;
  }
}
