/* Marquee.css */
.marquee-container {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #6a0dad);
  padding: 20px 0;
  white-space: nowrap;
  position: relative;
}

.marquee {
  display: flex;
  width: 100%;
}

.marquee-content {
  display: flex;
  animation: scrolling 20s linear infinite;
}

.marquee-content span {
font-size: large;
  color: white;
  margin: 0 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.separator {
  display: flex;
  align-items: center;
}



/* Pause animation on hover */
.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

/* Responsive design */
@media (max-width: 768px) {
  .marquee-content span {
    font-size: 1.2rem;
  }
}