.deals-container{
      padding: 5rem 6rem ;
}
.deals-header{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.deals-header span{
    color: var(--primary-color);
}
.deals-content{
    display: flex;
    gap: 100px;
}
.offer{
    background-image: url("../../../public/images/dealsBack.jpg");
    background-size: cover;
    background-position: bottom;
   height: 800px;
    width: 270px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    position: relative;
}
.offer::after{
    content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px; /* height of the overlay */
  border-radius: inherit;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),  
    transparent           
  );
}
.offer-content{
    position: absolute;
    bottom: 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-size: 2.7rem;
}
.offer-link{
    color: white;
    text-decoration: underline;
    font-size: 1.2rem;
}
.deals-cards{
    display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

 @media (max-width: 768px) {
    
 }