.deals-container{
      padding: 5rem 6rem ;
}
.deals-header{
    font-size: 2.5rem;
    font-weight: 500;
}
.deals-header span{
    color: var(--primary-color);
}
.deals-content{
    display: flex;
    gap: 20px;
}
.offer{
    background-image: url("../../../public/images/dealsBack.jpg");
    height: ;
}