.card-container{
    display: flex;
    flex-wrap: wrap;
    z-index: -2;
    padding-block-end: 70px;
}
.card{
    margin: 15px;
    border: 2px solid var(--background-color);
    padding: 20px;
    cursor: pointer;
    background-color: var(--background-color);
    width: 250px;
    height: 350px;
    border-radius: 20px;

}
.card-img{
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 20px;
}
.card-title{
    margin-bottom: 1rem;
}
.card-reviews{
    margin-bottom: 1rem;
    display: flex;
}
.ratings-star{
    color: var(--stars-color);
}
.total-reviews{
    font-size: 0.9rem;
    margin-left: 10px;
}
.card-price{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    
}
.bag-icon{
    color: var(--primary-color);
    margin-left: 7rem;
}

@media (max-width: 768px){
    .card-container{
        justify-content: center;
    }
}