
.main-container{
    background-image: url("../../../public/images/mainBackground.jpg");
    background-size: cover;
    height: calc(100vh - 45px - 67px);
    background-position:top;
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    padding: 5rem 6rem ;
}


.slogan{
    background-color: #E9CCF6;
    padding: 0.6rem;
    max-width: 27rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-weight: 600;
    font-size: 1.4rem;
}
.slogan span{
    background-color: white;
  width: 40px;
  height: 40px;
    border-radius:50%;
    color: var(--primary-color);   
    display: flex;
    align-items: center;
    justify-content: center;
}
.slogan span svg{
   stroke-width: 6;
   font-size: 1.5rem;
}
.main-header{
    padding-top: 1.5rem;
    font-size: 4rem;
    max-width: 700px;
}
.main-header span{
    color: var(--primary-color);
}

.subHeader{
    padding-top: 1.5rem;
    max-width: 490px;
    font-weight: 400;
  color: rgb(87, 86, 86);
  font-size: 1.1rem;
}
.shop-now{

    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 20px;

}
.main-btn{
    max-width: 180px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-btn span svg{
   margin-top: 5px;
}
.main-btn:hover span svg{
    animation: slide 0.5s infinite alternate;

}
@keyframes slide {
    from{
transform: translateX(0);
    }
    to{
transform: translateX(4px);

    }
}

.main-link{
    font-size: 1.2rem;
    text-decoration: underline;
    color: var(--text-color);
    font-weight: 600;
}


@media (max-width: 768px) {

    .main-container{
        height: 100vh;
    }
    .slogan{
        display: none;
    }
    .main-header{
        font-size: 2.5rem;
        max-width: 750;
    }
}