.main-container{
    background-image: url("../../../public/images/mainBackground.jpg");
    background-size: cover;
    height: calc(100vh - 45px - 67px);
    background-position:top;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5rem 6rem ;
}

.slogan{
    background-color: #E9CCF6;
    padding: 1rem;
    max-width: 27rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-weight: 600;
    font-size: 1.4rem;
}
.slogan span{
    background-color: white;
  width: 40px;
  height: 40px;
    border-radius:50%;
    color: var(--primary-color);   
    display: flex;
    align-items: center;
    justify-content: center;
}
.slogan span svg{
   stroke-width: 6;
   font-size: 1.5rem;
}
.main-header{
    padding-top: 1.5rem;
    font-size: 4rem;
}
.main-header span{
    color: var(--primary-color);
}

.subHeader{
    padding-top: 1.5rem;
    max-width: 490px;
    font-weight: 400;
  color: rgb(87, 86, 86);
  font-size: 1.1rem;
}
.