.aboutUs-container{
padding: 5em 8rem;
background-color: var(--background-color);
display: flex;
align-items: center;
justify-content: space-between;

}

.aboutUs-img{
    background-image: url(../../../public/images/aboutus.jpg);
   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.aboutUs-text{
    display: flex;
    flex-direction: column;
}