.aboutUs-container{
      padding: 5rem 6rem;
background-color: var(--background-color);
display: flex;
align-items: center;
gap: 20px;
}
.aboutUs-img{
    background-image: url(../../../public/images/aboutUs.avif);
   background-position: center;
   background-size: contain;
   bac
    width: 300px;
    height: 300px;
    border-radius: 50%;
}