.recommended-flex{
    display: flex;
    margin-left: 15px;
     flex-wrap: wrap;
     gap: 15px;
}
.recommended-title{
margin-bottom: 20px;
margin-top: 20px;
margin-left: 15px;
font-size: 1.5rem;   
}

.btns.selected {
    background-color: var(--secondary-color);
    color: white;
    box-shadow: 0 0 0 2px rgba(106, 13, 173, 0.3);
    transform: scale(1.05);
}

.btns {
    transition: all 0.3s ease;
}

.btns:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 @media (max-width: 768px) {

 }