.search-nav{
   
    z-index: 999;
    border-radius: 30px;
    align-items: center;
}
.search-nav input{
    width: 15rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

}
.search-nav:hover input{
    width: 25rem;
}
.search-nav button{
    position: relative;

}
.search-nav button svg{
    color: var(--primary-color);
    font-size: 2rem;
    position: absolute;
    left: 0;
}

